@model CalculadorDeAreasDeFiguras.Models.Figura
@using CalculadorDeAreasDeFiguras.Models

@{
    ViewBag.Title = "Resultados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <th>Calculo</th>
        <th>Figura</th>
        <th>Base</th>
        <th>Altura</th>
        <th>=</th>
        <th>Resultado</th>

    </tr>

    @{
        int posicion = 0;
    }

    @foreach (Figura fig in ViewBag.resultados)
    {
        if (posicion == ViewBag.resultados.Count - 1)
        {
            <tr class="negrita">
                <td>Calculo</td>
                <td>@fig.tipoFigura</td>
                <td>@fig.bases</td>
                <td>@fig.altura</td>
                <td>=</td>
                <td>@fig.resultado</td>
            </tr>
        }

        else
        {
            <tr>
                <td>Calculo</td>
                <td>@fig.tipoFigura</td>
                <td>@fig.bases</td>
                <td>@fig.altura</td>
                <td>=</td>
                <td>@fig.resultado</td>
            </tr>
        }

        posicion += 1;
    }

</table>

    <a href="~/Principal/Bienvenido">Volver a la Pagina Principal</a>